<div class="row">
  <div class="col-xxl-9 col-md-6">
    <ngx-infrastructure-graph [nodes]="nodes"></ngx-infrastructure-graph>
  </div>
  <div class="col-xxl-3 col-md-6">
    <ngx-progress-section [attacks]="attacks" (onSelect)="onSelect($event)" selected="selectedAttack">
    </ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <ngx-country-orders></ngx-country-orders>
  </div>

</div>

<div class="row">
  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
